@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.banner
{
    position: relative;
    min-height: 100vh;
    background: url(/images/banner.png);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.banner h2
{
    font-size: 3em;
    color: rgb(255, 255, 255);
    font-weight: 500;
    line-height: 1.5em;
    -webkit-text-stroke: #111 2px;
}

.banner h2 span
{
    font-size: 1.5em;
    font-weight: 700; 
}

.banner h3
{
    font-size: 1.5em;
    color: #fff;
    font-weight: 1000;
    -webkit-text-stroke: rgb(0, 0, 0) 1px;
}

.btn{
    position: relative;
    background: #ff7b00;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #111;
    transition: 0.5s;
}

header.white{
    background: rgb(255, 255, 255);
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header .logo
{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

header.white .logo
{
    color: #111;
}

header ul
{
    position: relative;
    display: flex;
}

header ul li
{
    position: relative;
    list-style: none;
}

header ul li a
{
    position: relative;
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

header.white ul li a{
    color: #111;
}


.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}

.heading h2{
    margin-top: 50px;
    font-weight: 600;
    font-size: 30px;
}

.content{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
    margin-bottom: 50px;
}

.contentBx{
    padding-right: 50px;
}

.contentBx h3{
    font-size: 24px;
    margin-bottom: 30px;
}

.w50{
    min-width: 60%;
}

img{
    max-width: 100%;
}

.video{
    min-width: 60%;
    padding-right: 50px;
}

video{
    width: inherit;
    height: inherit;
}

.content2{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 85%;
    margin-bottom: 50px;
}

.workBx h3{
    font-size: 24px;
    margin-bottom: 30px;
    color: #fff;
}

.work{
    background-color: #111;
    color: #fff;
    padding-bottom: 25px;
}

.heading.white{
    color: #fff;  
}

.heading.white h2{
    padding-top: 50px;
    font-weight: 600;
    font-size: 30px;
}

.candidate{
    background-color: #f7f7f7;
}

.candidate .content3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.candidate .content3 .candBx{
    max-width: calc(50% - 40px);
    padding: 60px 40px;
    margin: 20px;
    background: #3e8577;
}

.candidate .content3 .candBx2{
    max-width: calc(50% - 40px);
    padding: 60px 40px;
    margin: 20px;
    background: #1b0452;
}

/* FUNDO COM IMAGEM: https://www.w3schools.com/cssref/css3_pr_background-size.asp */

.candidate .content3 .candBx h3{
    margin-top: 40px;
    text-align: end;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 1em;
}

.candidate .content3 .candBx h3 span{
    font-size: 14px;
    font-weight: 400;
}

.candidate .content3 .candBx2 h3{
    margin-top: 40px;
    text-align: end;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 1em;
}

.candidate .content3 .candBx2 h3 span{
    font-size: 14px;
    font-weight: 400;
}
