@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.banner {
    position: relative;
    min-height: 100vh;
    background: url(/myphp/images/banner.png);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h2 {
    font-size: 3em;
    color: rgb(255, 255, 255);
    font-weight: 500;
    line-height: 1.5em;
    -webkit-text-stroke: #111 2px;
}

.banner h2 span {
    font-size: 1.5em;
    font-weight: 700;
}

.banner h3 {
    font-size: 1.5em;
    color: #fff;
    font-weight: 1000;
    -webkit-text-stroke: rgb(0, 0, 0) 1px;
}

.btn {
    position: relative;
    background: #ff7b00;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #111;
    transition: 0.5s;
}

header.white {
    background: rgb(255, 255, 255);
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header .logo {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

header.white .logo {
    color: #111;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
}

header ul li a:hover {
    transform: scale(0.95);
}

header ul li:nth-child(5) a {
    color: #e74c3c;
    font-weight: bold;
}

header.white ul li a {
    color: #111;
}

header.white ul li:nth-child(5) a {
    color: #e74c3c;
    font-weight: bold;
}

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}

.heading h2 {
    margin-top: 50px;
    font-weight: 600;
    font-size: 30px;
}

.content {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
    margin-bottom: 50px;
}

.contentBx {
    padding-right: 50px;
}

.contentBx h3 {
    font-size: 24px;
    margin-bottom: 30px;
}

.w50 {
    min-width: 60%;
}

img {
    max-width: 100%;
}

.video {
    min-width: 60%;
    padding-right: 50px;
}

video {
    width: inherit;
    height: inherit;
}

.content2 {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 85%;
    margin-bottom: 50px;
}

.workBx h3 {
    font-size: 24px;
    margin-bottom: 30px;
    color: #fff;
}

.work {
    background-color: #111;
    color: #fff;
    padding-bottom: 25px;
}

.heading.white {
    color: #fff;
}

.heading.white h2 {
    padding-top: 50px;
    font-weight: 600;
    font-size: 30px;
}

.candidate {
    background-color: #fff;
}

.candidate .content3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    width: 80%;
    margin-bottom: 50px;
}

.candidate .content3 .candBx {
    max-width: calc(50% - 40px);
    padding: 60px 40px;
    margin: 20px;
    background: #3e8577;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.candidate .content3 .candBx a {
    color: inherit;
    text-decoration: none;
}

.candidate .content3 .candBx:hover {
    transform: scale(0.98);
}

.candidate .content3 .candBx p {
    color: #fff;
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
}

.candidate .content3 .candBx p {
    color: #fff;
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
}

.candidate .content3 .candBx2 p {
    color: #fff;
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
}

.candidate .content3 .candBx2 {
    max-width: calc(50% - 40px);
    padding: 60px 40px;
    margin: 20px;
    background: #1b0452;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.candidate .content3 .candBx2 a {
    color: inherit;
    text-decoration: none;
}

.candidate .content3 .candBx2:hover {
    transform: scale(0.98);
}

.candidate .content3 .candBx h3 {
    margin-top: 40px;
    text-align: end;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 1em;
}

.candidate .content3 .candBx h3 span {
    font-size: 14px;
    font-weight: 400;
}

.candidate .content3 .candBx2 h3 {
    margin-top: 40px;
    text-align: end;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 1em;
}

.candidate .content3 .candBx2 h3 span {
    font-size: 14px;
    font-weight: 400;
}

.educa {
    background-color: #111;
    color: #fff;
    padding-bottom: 70px;
    place-items: center;
    text-align: center;
}

.educa .slider {
    max-width: 1150px;
    display: flex;
    color: #111;
    margin: auto;
    justify-content: center;
}

.educa .slider .card {
    background: #fff;
    flex: 1;
    margin: 0 10px;
}

.educa .slider .card .img {
    height: 200px;
    width: 100%;
}

.educa .slider .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.educa .slider .card .content4 {
    padding: 10px 20px;
}

.slider .card .content4 .title {
    font-size: 25px;
    font-weight: 600;
}

.slider .card .content4 .sub-title {
    font-size: 20px;
    font-weight: 600;
    color: #e74c3c;
    line-height: 20px;
}

.card .content4 p {
    text-align: justify;
    margin: 10px 0;
}

.card .content4 .btn2 {
    display: block;
    text-align: left;
    margin: 10px 0;
}

.card .content4 .btn2 button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.card .content4 .btn2 button:hover {
    transform: scale(0.9);
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 15px 100px;
    background: #04244D;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

footer .container .sec.aboutus {
    width: 40%;
}

footer .container h2 {
    position: relative;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}

footer p {
    color: #999;
    font-style: italic;
}

.sci {
    margin-top: 20px;
    display: flex;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.sci li a:hover {
    background: #f00;
}

.sci li a .fa {
    color: #fff;
    font-size: 20px;
}

.quickLinks {
    position: relative;
    width: 25%;
}

.quickLinks ul li {
    list-style: none;
}

.quickLinks ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quickLinks ul li a:hover {
    color: #f00;
}

.contact {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contact .info {
    position: relative;
}

.contact .info li {
    display: flex;
    margin-bottom: 16px;
}

.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contact .info li span {
    color: #999;
}

.contact .info li a {
    color: #999;
    text-decoration: none;
}

.contact .info li a:hover {
    color: #f00;
}